
.DS_Store
.DS_STORE
*.lck

.history/

BioAmp/_restore_backup_2026-10-03T15-27-39-691/



/BioAmp.zip
/BioAmp/BioAmp_Order_Gerber.zip
/BioAmp/Order/
/BioAmp/component/LIB_ADS112C04IPW/
/BioAmp/component/MAX1169
/BioAmp/component/FPC_Connector
/BioAmp/component/I2C_connector
/BioAmp/component/LIB_ADS112C04IPW